 /* Image background */ 
  body{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
 }
section.section1{
    width: 100%;
     height: 100vh;
     max-width:800px;
     max-height:200px;
     box-sizing: border-box;
     background: url(https://github.com/giangsce/giangsce.github.io/blob/master/images/bg.png);
 
     background-size: cover;
 }
 /* Image background */ 
  
  
  
    /* Text position */
  nav .brand{
     float: left;
     height: 100%;
     line-height: 30px;
 }
nav .brand h2{
    
     line-height: 25px;
     margin: 0;
     padding: 0;
     color: #fff;
 }
nav ul{
     float: right;
     display: flex;
     margin:0;
     padding: 0;
 }
nav ul li{
     list-style: none;
 }
nav ul li a{
     position: relative;
     display: block;
     height: 30px;
     line-height: 30px;
     padding: 0 20px;
     box-sizing: border-box;
     color: #fff;
     text-decoration: none;
     transition: 0.5s
 }
  /* Text position */
 
  
   /* Hover */
  
  nav ul li a:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #fff;
     transform-origin: right;
     z-index: -1;
     transform: scaleX(0);
     transition:  transform 0.5s;
 }
nav ul li a:hover:before{
     transform-origin: left;
     transform: scaleX(1);
 }
nav ul li a:hover{
     color: #262626;
 }
section.section2{
     padding: 150px;
 }
     /* Hover */

       /* https://www.niemvuilaptrinh.com/article/tao-thanh-dieu-huong-navigation-trong-suot-bang-html-css */
  
  
